@import url(https://fonts.googleapis.com/css?family=Open+Sans);


* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

.centrardiv{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 41vw;
}

.centraryfondodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    width: 45%;
    border-radius: 1.8rem;
}
.margenesH1{
    margin-top: 16px;
}

.margenesREG{
    margin-top: 16px;
}

.login { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
    width: 100%; 
    margin-bottom: 10px; 
    background: rgb(250, 250, 250);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: rgb(219, 46, 46);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }