<div class="centraryfondo"></div>
<<div class="login">
	<h1>Login</h1>
    <form [formGroup]="form" autocomplete="off">
        <div class="form-group">
          <input formControlName="name" #usuario type="text" class="form-control" id="usuario" aria-describedby="emailHelp"
                 placeholder="Ingrese su usuario" required>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" #password class="form-control" id="password" placeholder="Ingrese su contraseña"
                 required>
                 <button class="btn btn-primary btn-sm" (click)='login()'>iniciar </button>
        </div>
        <!--  <p class="text-danger-login rounded">{{mensajeError}}</p> -->
         
      </form>
</div>
