
<<div class="login">
	<h1>Login</h1>
    <form method="post">
        <input formControlName="user" #usuario type="text" class="form-control" id="usuario" aria-describedby="emailHelp"
        placeholder="Ingrese su usuario" required>
        <input type="password" formControlName="password" #password class="form-control" id="password" placeholder="Ingrese su contraseña"
                 required>
        <button type="submit" class="btn btn-primary btn-block btn-large" (click)="login">Iniciar sesion.</button>
    </form>
</div>
