header, section, footer {
    width: 960px;/*En esta ocasión vamos a utilizar la vista escritorio por eso usamos 960px de ancho*//*El ALTO se puede extender hasta dónde nosotros queramos*/
    /*SIN BORDES, solamente el FONDO porque el borde te come el ancho*/
    margin-right: auto;/*Es para ajustar el contenido al medio de la página, como no sé el tamaño del margen le pido con AUTO que se centre al tamaño"Siempre y cuando sea < 1024px"*/
    margin-left: auto;/*AMBOS SE EMPLEAN PARA CENTRAR EL CONTENIDO HORIZONTALMENTE, YA QUE VERTICALMENTE SE LO DAMOS NOSOTROS AL TAMAÑO*/
}

header{
    background-color:#f2f2f2;
    height: 50px;
}

#marca{
    width: 200px;
    height: 50px;
    background-color:#cc6699;
    float:left;/*Le agregamos un FLOAT para posicionar las cajas una al lado de la otra en la IZQ o DER*/
}

#botonera{
    width: 450px;
    height: 50px;
    background-color:#00ff99;
    float: right;
}

section#inicio{
    background-color:#ffffe6;
    height: 1540px;
}

#img_pres {
    width: 960px;
    height: 400px;
    background-color:#990000;
}

#serv_sup_izq {
    width: 245px;
    height: 270px;
    background-color:#00ffcc;
    float: left;
    margin-left: 100px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#serv_sup_centro {
    width: 245px;
    height: 270px;
    background-color:#333399;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#serv_sup_der {
    width: 245px;
    height: 270px;
    background-color:#006699;
    float: left;
    margin-left: 5px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#serv_inf_izq {
    width: 245px;
    height: 270px;
    background-color:#cc6600;
    float: left;
    margin-left: 100px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 50px;
}

#serv_inf_centro {
    width: 245px;
    height: 270px;
    background-color:#99ffcc;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 50px;
}

#serv_inf_der {
    width: 245px;
    height: 270px;
    background-color:#00ccff;
    float: left;
    margin-left: 5px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 50px;
}

#empresa {
    width: 960px;
    height: 400px;
    background-color:#bf80ff;
    clear: left;
}

#clientes {
    width: 960px;
    height: 100px;
    background-color:#ff9933;
    clear: left;
}

footer{
    background-color:#d9d9d9;
    height: 300px;
}

#redes{
    width: 600px;
    height: 250px;
    background-color:#00ff99;
    margin-left: auto;
    margin-right: auto;
}

#datos{
    width: 960px;
    height: 50px;
    background-color:#262626;
    float: right;
}