
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.bg404{
    background-color: white;
    border-radius: 1.1rem;
}

.centrar{
    height: 61vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}