<a class="text-white" routerLink="">Volver</a><br>
<br>

    <table class="table">
        <thead>
          <tr class = "table-dark text-center">
            <th scope="col">Nombre</th>
            <th scope="col">Avatar</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kiosko of kioskos" class="table-light text-center">
            <td>{{kiosko.name}}</td>
            <td><img [src]="kiosko.avatar" [alt]="kiosko.name" class="rounded-circle" width="50px" height="50px"></td>
           
            <td>{{kiosko.descripcion}}</td>
            <td><button type="button" class="btn btn-primary btn-sm"(click) = "id(kiosko.id)">Editar</button></td>
            <td><button type="button" class="btn btn-danger btn-sm" (click) = "eliminar(kiosko.id)">Eliminar</button></td>
          </tr>

        </tbody>
      </table>


<form  *ngIf="formCreateKiosko" class="container p-3 my-3 bg-dark text-white text-center" [formGroup]="formCreateKiosko">
  <div  class="col-12">
    <label class="form-label">Nombre</label>
    <input [(ngModel)] = "kiosko.name" type="text" class="form-control" formControlName="name">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Descripcion</label>
    <input [(ngModel)] = "kiosko.descripcion" type="text" class="form-control" formControlName="descripcion">
  </div>
  <div class="col-12">
    <label for="inputCity" class="form-label">Avatar</label>
    <input [(ngModel)] = "kiosko.avatar" type="text" class="form-control" formControlName="avatar">
  </div>
  <div class="row">
    <div class="col-12">
      <br><button type="submit" class="btn btn-outline-light" id="crearKiosko" (click) = "crearKiosko()" >
        Crear</button>
      <button type="submit" class="btn btn-outline-light" id="editarKiosco" (click) = "editar()" >
        Editar</button>
    </div>
  </div>
</form> <br>