<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">
      <img src="/assets/Iconos/icon_kios.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a> 
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          
          <a *ngIf="estoyHome" routerLink="kioskos" routerLinkActive="active" class="nav-link" aria-current="page">
              Kioskos
          </a>

          <a *ngIf="estoyHome" routerLink="mapaPag" routerLinkActive="active" class="nav-link" aria-current="page">
              Mapa
          </a>   
    
        </ul>
      <a class="navbar-brand remove-bg" routerLink="admin" routerLinkActive="active">
        <img src="/assets/user_admin.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      </a> 
      <div class="d-flex" (onEnter)="buscar(termino.value)" autocomplete="off">
        <input #termino class="form-control me-2" type="text" name= "termino" placeholder="Qué buscamos?" aria-label="Search">
        <button class="btn btn-outline-light" type="text" (click)="buscar(termino.value)">Buscar</button>
      </div>
    </div>
  </div>
</nav>


