<<div class="login">
	<h1>Registrarse</h1>
    <form [formGroup] = "form">

        <input formControlName="name" #usuario type="text" class="form-control" id="usuario" aria-describedby="emailHelp"
        placeholder="Ingrese su usuario" required>
        <input type="password" formControlName="password" #password class="form-control" id="password" placeholder="Ingrese su contraseña"
                 required>
        <button type="submit" class="btn btn-primary btn-block btn-large" (click)="registrar()">Registrar</button>
    </form>
</div>
