<div class="row">
    <div class="container" routerLink="kioskos" routerLinkActive="active">
        <img src="./assets/modulos/kioskosM.png" alt="Avatar" class="image">
        <div class="overlay">
            <div class="bg-5">
                <div class="text"><p>Kioskos</p></div>
            </div>
        </div>
    </div> 
    <br>
    <div class="container" routerLink="mapaPag" routerLinkActive="active">
        <img src="./assets/modulos/mapaM.jpg" alt="Avatar" class="image">
        <div class="overlay">
        <div class="text"><p>Mapa</p></div>
        </div>
    </div>


</div>

