<div class="row">
    <div class="container" routerLink="kioskos" routerLinkActive="active">
        <img src="./assets/modulos/kioskosM.png" alt="Avatar" class="image">
        <div class="overlay">
        <div class="text">Kioskos</div>
        </div>
    </div> 
    <br>
    <div class="container" routerLink="mapaPag" routerLinkActive="active">
        <img src="./assets/modulos/mapaM.jpg" alt="Avatar" class="image">
        <div class="overlay">
        <div class="text">Mapa</div>
        </div>
    </div>


</div>

