@import url("https://fonts.googleapis.com/css2? family = Maven + Pro & display = swap");
body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  font-family: 'Maven Pro', sans-serif;
  background:#dcdcdc;
}
h2,h3 {
  color: #ffffff;
}
h5{
  color: #000000;
}
// PREGUNTA
#pregunta {
  font-size: 18px;
  border-color: #3484fa;
  border-radius: 10px;
  border-width: 5px;
  float: left;
  margin-left: 220px;
}
#pregunta[placeholder] {
  padding-top: 20px;
  padding-left: 5px;
}

button {
  background-color: #3484fa;
  width: 120px;
  height: 60px;
  margin-top: 5px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
}

ul {
  list-style: none;
  padding-left: 0px;
}



//   TARJETA COMENTARIOS

  .restaurant-detailed-ratings-and-reviews hr {
      margin: 0 -24px;
  }

  .text-black {
      color: #000000;
  }
  .icon-overlap {
      bottom: -23px;
      font-size: 74px;
      opacity: 0.23;
      position: absolute;
      right: -32px;
  }

  .reviews-members .media .mr-3 {
      width: 56px;
      height: 56px;
      object-fit: cover;
  }
  .rounded-pill {
      border-radius: 50rem!important;
  }
  .restaurant-detailed-ratings-and-reviews hr {
      margin: 0 -24px;
  }
  